 * {
     margin: 0px;
     padding: 0px;
 }

 body {

     background-color: rgb(145, 118, 243);
     /* border: 2px solid black; */
     /* background-color: red; */

 }

 header {
     position: sticky;
     top: 0;
 }

 nav {
     background-color: rgb(129, 223, 255);
     border: 2px solid black;
     height: 10vh;
 }

 ul>h1 {
     color: blue;
     margin: 2px;
     padding: 10px;
 }

 li {
     color: black;
     padding: 25px;
     margin: 2px;
     margin-right: 10px;
     list-style: none;
 }

 ul {
     display: flex;
 }

 .tagline {
     color: white;
     padding: 50px;
     margin: 20px;
     text-decoration: underline;
     line-height:10px;
 }

 h4 {
     text-align: center;
     padding: 30px;

 }

 .name>h1 {
     text-align: center;
     position: justify;
     padding: 0px;
 }

 .txt {
     color: white;
     padding: 0px;
     margin-left: 0px;
     margin-bottom: 320px;
     text-align: center;
 }

 .container {
     background-color: rgb(216, 191, 249);
     margin-bottom: -5px;
 }

 .About>h1 {
     margin-top: 0px;
     color:purple;
     padding: 15px;
     text-align: center;
 }

 .About>h4 {
     color: purple;
     padding: 2px;
     margin-top: 30px;
     margin-bottom: 30px;
     text-align: center;
 }

 .About>h2 {
     color: purple;
     text-align: left;
     margin-left: 30px;
 }

 .About>p {
     color: rgb(17, 50, 59);
     text-align: center;
     margin-right: 0px;
     margin-left: 30px;
     margin-top: 20px;
 }

 .About>h3 {
     margin-top: 20px;
     margin-left: 20px;
     color: brown;
 }

 .About>ol>li {
     margin-left: 20px;
     padding: 10px;
     color: rgb(96, 65, 106);
 }

 table {
     border: 2px solid black;
     width: 50%;
     margin-left: 30px;
 }

 th {
     border: 1px solid black;
     padding: 8px;

 }

 td {
     border: 1px solid black;
     padding: 4px;

 }

 .image1 {
     margin-top: 40px;
     margin-left: 470px;
     margin-bottom: 0px;
 }

 .container2 {

     background-color: rgb(127, 127, 181);
     padding-bottom: 30px;
 }

 .project>h1 {
     color: aliceblue;
     text-align: center;
     margin-top: 0px;
     margin-bottom: 0px;
 }

 .project>h3 {
     color: aliceblue;
     margin-top: 20px;
     text-align: center;
 }

 .box1 {
     /* display: flex; */
     border: 2px solid rgb(255, 255, 255);
     height: 30vh;
     width: 30vh;
     margin-top: 40px;
     margin-left: 100px;
     border-radius: 7px;
     color: rgb(0, 3, 2);
 }

 .box1>h3 {
     margin-left: 5px;
     color: antiquewhite;
 }

 .box1>p {
     color: white;
     margin-left: 5px;
 }

 .box2 {
     /* display: flex; */
     border: 2px solid rgb(255, 255, 255);
     height: 30vh;
     width: 30vh;
     border-radius: 7px;
     color: rgb(0, 3, 2);
     margin-top: -205px;
     margin-left: 400px;
     border-radius: 7px;
 }

 .box2>h3 {
     margin-left: 5px;
     color: antiquewhite;
 }

 .box2>p {
     color: white;
     margin-left: 5px;
 }

 .box3 {
     /* display: flex; */
     border: 2px solid rgb(255, 255, 255);
     height: 30vh;
     width: 30vh;
     border-radius: 7px;
     color: rgb(0, 3, 2);
     margin-top: -205px;
     margin-left: 700px;
     border-radius: 7px;
 }

 .box3>h3 {
     margin-left: 5px;
     color: antiquewhite;
 }

 .box3>p {
     color: white;
     margin-left: 5px;
 }

 .box4 {
     /* display: flex; */
     border: 2px solid rgb(255, 255, 255);
     height: 30vh;
     width: 30vh;
     border-radius: 7px;
     color: rgb(0, 3, 2);
     margin-top: -200px;
     margin-left: 1000px;
     margin-bottom: 5px;
     border-radius: 7px;
 }

 .box4>h3 {
     margin-left: 5px;
     color: antiquewhite;
 }

 .box4>p {
     color: white;
     margin-left: 5px;
 }

 .container3 {
     margin-top: -5px;
     background-color: rgb(121, 121, 204);
 
    }

 .contact>h1 {
     color: aqua;
     margin-top: 0px;
     text-align: center;
 }

 .contact>h3 {
     margin-top: 20px;
     text-align: center;
     color: antiquewhite;
 }

 .contact>h2 {
     margin-top: 20px;
     margin-left: 20px;
     text-align: left;
     color: rgb(197, 216, 234);
 }

 .contact>p {
     text-align: left;
     margin-left: 20px;
     margin-top: 20px;
     color: aliceblue;
 }

 .contact>ol {
     color: antiquewhite;
     margin-top: 30px;
     margin-left: 20px;
 }

 footer {
     margin-left: 20px;
     margin-top: 15px;
     color: antiquewhite;
 }